<div class="row">
  <form [formGroup]="recipeForm">
    <!--form button-->
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" (click)="onSubmit()">Save Recipe</button>
        <button type="button" class="btn btn-danger" (click)="navigateToHome()" style="margin-left: 10px">Cancel Recipe</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="recipeName">Recipe Name</label>
          <input type="text" id="recipeName" class="form-control" formControlName="recipeName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" formGroupName="recipeIngredients">
        <div class="row" *ngFor="let ingredientControl of recipeForm.get('recipeIngredients').controls; let i = index;"
             [formGroupName]="i" style="margin-top: 10px">
          <div class="col-xs-8">
            <input type="text" class="form-control" formControlName="ingredientName">
          </div>
          <div class="col-xs-2">
            <input type="number" class="form-control" formControlName="ingredientAmount">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-danger" (click)="onClearForm(i)">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="recipeDescription">Recipe Description</label>
          <textarea rows="6" id="recipeDescription" class="form-control"
                    formControlName="recipeDescription"> </textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="imagePath">Image Preview </label>
          <input type="text" id="imagePath" #imagePath class="form-control" formControlName="recipeImagePath">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" style="width: 300px;"
               class="img-responsive" alt="recipe image"/>
        </div>
      </div>
    </div>
  </form>
</div>
